/* #call-to-action {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/cta-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}
section {
  overflow: hidden;
} */

.team-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
